{% extends 'base.html'  %}
{% load static %}
{% block title %}Home - AC Computers{% endblock title %}
{% block content %}
        <main>
            <!-- banner area start -->
            <section>
                <div class="banner-area">
                    <div class="banner-wrap">
                        <div class="banner-banner-control">
                            <div class="swiper-container banner-thumbs">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="banner-main">
                                            <div class="banner-control-item">
                                                <div class="banner-content">
                                                    <span class="banner-subtitle wow fadeInUp" data-wow-delay="0.1s">Welcome To Aakash Computers</span>
                                                    <h2 class="banner-title wow fadeInUp" data-wow-delay="0.3s">We bring your devices back to life.</h2>
                                                    <div class="banner-button mt-35 wow fadeInUp" data-wow-delay="0.5s">
                                                        <a class="about_content-link banner-btn" href="about.html">
                                                            <span>Read More</span><i class="fal fa-long-arrow-right"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="banner-main">
                                            <div class="banner-control-item">
                                                <div class="banner-content">
                                                    <span class="banner-subtitle wow fadeInUp" data-wow-delay="0.1s">Welcome To Aakash Computers</span>
                                                    <h2 class="banner-title wow fadeInUp" data-wow-delay="0.3s">Your digital life, back on track.</h2>
                                                    <div class="banner-button mt-35 wow fadeInUp" data-wow-delay="0.5s">
                                                        <a class="about_content-link banner-btn" href="about.html">
                                                            <span>Read More</span><i class="fal fa-long-arrow-right"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                     <div class="swiper-slide">
                                        <div class="banner-main">
                                            <div class="banner-control-item">
                                                <div class="banner-content">
                                                    <span class="banner-subtitle wow fadeInUp" data-wow-delay="0.1s">Welcome To Aakash Computers</span>
                                                    <h2 class="banner-title wow fadeInUp" data-wow-delay="0.3s">Smart solutions for every device.</h2>
                                                    <div class="banner-button mt-35 wow fadeInUp" data-wow-delay="0.5s">
                                                        <a class="about_content-link banner-btn" href="about.html">
                                                            <span>Read More</span><i class="fal fa-long-arrow-right"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                               
                            </div>
                        </div>
                        <div class="banner-img-wrap">
                            <div class="swiper-container banner-active">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="single-banner wow fadeInUp" data-wow-delay="0.3s">
                                            <div class="banner-image bg-default" data-background="{% static 'img/banner/1.jpg' %}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="single-banner wow fadeInUp" data-wow-delay="0.3s">
                                            <div class="banner-image bg-default" data-background="{% static 'img/banner/2.jpg' %}">
                                            </div>
                                       </div>
                                    </div>
                                     <div class="swiper-slide">
                                        <div class="single-banner wow fadeInUp" data-wow-delay="0.3s">
                                            <div class="banner-image bg-default" data-background="{% static 'img/banner/3.jpg' %}">
                                            </div>
                                       </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="banner-navigation">
                            <div class="banner-swiper-prev"><i class="fal fa-angle-left"></i>
                            </div>
                            <div class="banner-swiper-next"><i class="fal fa-angle-right"></i>
                            </div>
                        </div>
                    </div>
                  
                </div>
            </section>
            <!-- banner area end -->

            <!-- about area start -->
            <section>
                <div class="about-area pt-120 pb-80" style="background-color: #d9e9e9;">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="section-area mb-45">
                                    <span class="section-subtitle mb-2 wow fadeInUp" data-wow-delay="0.1s">About Our Company</span>
                                    <h2 class="section-title mb-15 wow fadeInUp" data-wow-delay="0.3s"> Your trusted partner for <br>quality and support.  </h2>
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-center g-0">
                            <div class="col-xl-6 col-lg-6">
                                <div class="about-img w_img mb-40 wow fadeInUp" data-wow-delay="0.3s">
                                    <img src="{% static 'img/about/1.jpg' %}" alt="About Img">
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6">
                                <div class="about-wrap mb-30">
                                    <div class="about_posts">
                                        <div class="about_posts-item mb-30">
                                            <div class="about-media w_img wow fadeInLeft" data-wow-delay="0.5s">
                                                <a href="{% url 'about' %}"><img src="{% static 'img/about/post_1.jpg' %}" alt="Image Not Found"></a>
                                            </div>
                                            <div class="about-content wow fadeInRight" data-wow-delay="0.5s">
                                                <h4 class="about_content-title"><a href="{% url 'about' %}">
                                                   Quality Electronics, Trusted Solutions 
                                                </a></h4>
                                                <p class="about_content-text">
                                                   Our focus is on delivering durable electronics supported by professional and trusted service.
                                                </p>
                                                <a class="about_content-link" href="{% url 'about' %}">
                                                    <span>Read More</span>
                                                    <i class="fal fa-long-arrow-right"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="about_posts-item">
                                            <div class="about-media w_img wow fadeInLeft" data-wow-delay="0.7s">
                                                <a href="{% url 'about' %}"><img src="{% static 'img/about/post_2.jpg' %}" alt="Image Not Found"></a>
                                            </div>
                                            <div class="about-content wow fadeInRight" data-wow-delay="0.7s">
                                                <h4 class="about_content-title"><a href="{% url 'about' %}">
                                                   Expert Care for Every Device
                                                </a></h4>
                                                <p class="about_content-text">
                                                    We provide professional repair and maintenance services to ensure every device performs reliably.
                                                </p>
                                                <a class="about_content-link" href="{% url 'about' %}">
                                                    <span>Read More</span>
                                                    <i class="fal fa-long-arrow-right"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- about area end -->

             <!-- video area start -->
            <div class="video-area pb-120">
                   <h3 style="text-align: center; color: #006464;margin-top: 30px;">OUR PRODUCTS</h3>
                <div class="container top" >
                    <div class="row">
                        <div class="col-xl-10">
                            <div class="video-wrap pt-120 pt-md-0">
                                <div class="video-active swiper-container">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div class="video-item">
                                                <div class="row align-items-center">
                                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-5">
                                                        <div class="video-inner-img mb-30 mb-sm-0 wow fadeInUp" data-wow-delay="0.3s">
                                                            <img src="{% static 'img/video/1.jpg' %}" alt="Image Not Found">
                                                        </div>
                                                    </div>
                                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-7">
                                                        <div class="video-content wow fadeInUp" data-wow-delay="0.5s">
                                                            <h3 class="video-content-title">Closed Circuit Cameras</h3>
                                                            <p>Provide fastest & secure always</p>
                                                            <a class="about_content-link" href="service-details.html">
                                                                <span>Read More</span>
                                                                <i class="fal fa-long-arrow-right"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="video-item">
                                                <div class="row align-items-center">
                                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-5">
                                                        <div class="video-inner-img mb-30 mb-sm-0 wow fadeInUp" data-wow-delay="0.3s">
                                                            <img src="{% static 'img/video/2.jpg' %}" alt="Image Not Found">
                                                        </div>
                                                    </div>
                                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-7">
                                                        <div class="video-content wow fadeInUp" data-wow-delay="0.5s">
                                                            <h3 class="video-content-title">Security CCTV Cameras</h3>
                                                            <p>Our proffession to provide security</p>
                                                            <a class="about_content-link" href="service-details.html">
                                                                <span>Read More</span>
                                                                <i class="fal fa-long-arrow-right"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="video-item">
                                                <div class="row align-items-center">
                                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-5">
                                                        <div class="video-inner-img mb-30 mb-sm-0 wow fadeInUp" data-wow-delay="0.3s">
                                                            <img src="{% static 'img/video/3.jpg' %}" alt="Image Not Found">
                                                        </div>
                                                    </div>
                                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-7">
                                                        <div class="video-content wow fadeInUp" data-wow-delay="0.5s">
                                                            <h3 class="video-content-title">surveillance camera</h3>
                                                            <p>Your security is our responsibility</p>
                                                            <a class="about_content-link" href="service-details.html">
                                                                <span>Read More</span>
                                                                <i class="fal fa-long-arrow-right"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- video area end -->

            <!-- portfolio area start -->
            <section>
                <div class="portfolio-area ">
                    <div class="portfolio-wrap">
                        <div class="portfolio-controller">
                            <div class="swiper-container portfolio-thumbs">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="controller-item">
                                            <div class="controller-icon">
                                                <i class="fal fa-camera-alt"></i>
                                            </div>
                                            <div class="controller-info">
                                                <h4>Automatic<br> Camera</h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="controller-item">
                                            <div class="controller-icon">
                                                <i class="fal fa-fingerprint"></i>
                                            </div>
                                            <div class="controller-info">
                                                <h4>Access<br> Control</h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="controller-item">
                                            <div class="controller-icon">
                                                <i class="fal fa-tv-alt"></i>
                                            </div>
                                            <div class="controller-info">
                                                <h4>Video<br> Intercoms</h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="controller-item">
                                            <div class="controller-icon">
                                                <i class="fal fa-chart-network"></i>
                                            </div>
                                            <div class="controller-info">
                                                <h4>Smart<br> Systems</h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="controller-item">
                                            <div class="controller-icon">
                                                <i class="fal fa-shield-alt"></i>
                                            </div>
                                            <div class="controller-info">
                                                <h4>Electronic<br> Security</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="portfolio-navigation">
                                    <div class="portfolio-swiper-prev"><i class="fal fa-angle-left"></i></div>
                                    <div class="portfolio-swiper-next"><i class="fal fa-angle-right"></i></div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-container portfolio-active">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="portfolio-item bg-default" data-background="{% static 'img/portfolio/1.jpg' %}">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-xl-6 col-lg-8">
                                                    <div class="portfolio-content">
                                                        <h2 class="portfolio-content-title wow fadeInUp" data-wow-delay="0.1s">Automatic Camera</h2>
                                                        <p class=" wow fadeInUp" data-wow-delay="0.2s">We harness our vast resources of worldwide engineers, designers, and fabricators to provide the best procurement options.</p>
                                                        <div class="theme-buttons wow fadeInUp" data-wow-delay="0.3s">
                                                            <a class="theme-button" href="portfolio-details.html">
                                                                <span>Read More</span><i class="fal fa-long-arrow-right"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="portfolio-item bg-default" data-background="{% static 'img/portfolio/2.jpg' %}">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-xl-6 col-lg-8">
                                                    <div class="portfolio-content">
                                                        <h2 class="portfolio-content-title wow fadeInUp"  data-wow-delay="0.1s">Access Control</h2>
                                                        <p class=" wow fadeInUp" data-wow-delay="0.2s">We harness our vast resources of worldwide engineers, designers, and fabricators to provide the best procurement options.</p>
                                                        <div class="theme-buttons wow fadeInUp" data-wow-delay="0.3s">
                                                            <a class="theme-button" href="portfolio-details.html">
                                                                <span>Read More</span><i class="fal fa-long-arrow-right"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="portfolio-item bg-default" data-background="{% static 'img/portfolio/3.jpg' %}">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-xl-6 col-lg-8">
                                                    <div class="portfolio-content">
                                                        <h2 class="portfolio-content-title wow fadeInUp"  data-wow-delay="0.1s">Video Intercoms</h2>
                                                        <p class=" wow fadeInUp" data-wow-delay="0.2s">We harness our vast resources of worldwide engineers, designers, and fabricators to provide the best procurement options.</p>
                                                        <div class="theme-buttons wow fadeInUp" data-wow-delay="0.3s">
                                                            <a class="theme-button" href="portfolio-details.html">
                                                                <span>Read More</span><i class="fal fa-long-arrow-right"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="portfolio-item bg-default" data-background="{% static 'img/portfolio/4.jpg' %}">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-xl-6 col-lg-8">
                                                    <div class="portfolio-content">
                                                        <h2 class="portfolio-content-title wow fadeInUp"  data-wow-delay="0.1s">Smart Systems</h2>
                                                        <p class=" wow fadeInUp" data-wow-delay="0.2s">We harness our vast resources of worldwide engineers, designers, and fabricators to provide the best procurement options.</p>
                                                        <div class="theme-buttons wow fadeInUp" data-wow-delay="0.3s">
                                                            <a class="theme-button" href="portfolio-details.html">
                                                                <span>Read More</span><i class="fal fa-long-arrow-right"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="portfolio-item bg-default" data-background="{% static 'img/portfolio/5.jpg' %}">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-xl-6 col-lg-8">
                                                    <div class="portfolio-content">
                                                        <h2 class="portfolio-content-title wow fadeInUp"  data-wow-delay="0.1s">Electronic Security</h2>
                                                        <p class=" wow fadeInUp" data-wow-delay="0.2s">We harness our vast resources of worldwide engineers, designers, and fabricators to provide the best procurement options.</p>
                                                        <div class="theme-buttons wow fadeInUp" data-wow-delay="0.3s">
                                                            <a class="theme-button" href="portfolio-details.html">
                                                                <span>Read More</span><i class="fal fa-long-arrow-right"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- portfolio area end -->


            <!-- service area start -->
            <section>
                <div class="service-area pt-110 pb-120 bg-light">
                       <h3 style="text-align: center; color: #006464;">OUR SERVICES</h3>
                    <div class="container">
                        <div class="row g-0">
                            <div class="col-xl-4 col-lg-6 col-md-6">
                                <div class="service-section wow fadeInUp" data-wow-delay="0.3s">
                                    <div class="section-area">
                                        <span class="section-subtitle mb-10">What We Do</span>
                                        <h2 class="section-title f-46 mb-0">What Can We Offer Security</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-6 col-md-6 service-border">
                                <div class="service-item wow fadeInUp" data-wow-delay="0.4s">
                                    <div class="service-img bg-default" data-background="{% static 'img/service/1.jpg' %}"></div>
                                    <div class="service-icon">
                                        <i class="fal fa-cogs"></i>
                                    </div>
                                    <div class="service-content">
                                        <h3 class="service-content-title"><a href="service-details.html">CCTV installation</a></h3>
                                        <p>Direct enough off others say eldest may exeter she pain oni. Possible all ignorant supplied get settling marriage</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-6 col-md-6 service-border">
                                <div class="service-item wow fadeInUp" data-wow-delay="0.5s">
                                    <div class="service-img bg-default" data-background="{% static 'img/service/2.jpg' %}"></div>
                                    <div class="service-icon">
                                        <i class="fal fa-chart-network"></i>
                                    </div>
                                    <div class="service-content">
                                        <h3 class="service-content-title"><a href="service-details.html">Wireless networking</a></h3>
                                        <p>Direct enough off others say eldest may exeter she pain oni. Possible all ignorant supplied get settling marriage</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-6 col-md-6 service-border">
                                <div class="service-item wow fadeInUp" data-wow-delay="0.6s">
                                    <div class="service-img bg-default" data-background="{% static 'img/service/3.jpg' %}"></div>
                                    <div class="service-icon">
                                        <i class="fal fa-fingerprint"></i>
                                    </div>
                                    <div class="service-content">
                                        <h3 class="service-content-title"><a href="service-details.html">Finger Print Access</a></h3>
                                        <p>Direct enough off others say eldest may exeter she pain oni. Possible all ignorant supplied get settling marriage</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-6 col-md-6 service-border">
                                <div class="service-item wow fadeInUp" data-wow-delay="0.7s">
                                    <div class="service-img bg-default" data-background="{% static 'img/service/4.jpg' %}"></div>
                                    <div class="service-icon">
                                        <i class="fal fa-camera-alt"></i>
                                    </div>
                                    <div class="service-content">
                                        <h3 class="service-content-title"><a href="service-details.html">Closed Cameras</a></h3>
                                        <p>Direct enough off others say eldest may exeter she pain oni. Possible all ignorant supplied get settling marriage</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-6 col-md-6 service-border">
                                <div class="service-item wow fadeInUp" data-wow-delay="0.8s">
                                    <div class="service-img bg-default" data-background="{% static 'img/service/5.jpg' %}"></div>
                                    <div class="service-icon">
                                        <i class="fal fa-cctv"></i>
                                    </div>
                                    <div class="service-content">
                                        <h3 class="service-content-title"><a href="service-details.html">Security Cameras</a></h3>
                                        <p>Direct enough off others say eldest may exeter she pain oni. Possible all ignorant supplied get settling marriage</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- service area end -->

             <!-- contact area start -->
            <section>
                <div class="contact-area pt-110 pb-120">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="section-area text-center mb-35">
                                    <!-- <span class="section-subtitle mb-2 wow fadeInUp" data-wow-delay="0.1s">Interested In</span> -->
                                    <h2 class="section-title mb-15 wow fadeInUp" data-wow-delay="0.3s" style="color: #006464;">GET IN TOUCH</h2>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                             <div class="col-12  col-lg-6">
                               <img class="w-100" src="{% static 'img/service/1.jpg'%}" alt="Image Not Found">   
                           </div>
                            <div class="col-12 col-lg-6">
                                
                                <div class="contact-content mb-50 d-none">
                                    <div class="row">
                                        <div class="col-xl-4">
                                            <div class="contact-content-item contact-item-1">
                                                <div class="contact-content-logo w_img">
                                                    <a href="index.html"><img src="assets/img/logo/logo.png" alt="Image Not Found"></a>
                                                </div>
                                                <div class="contact-content-office">
                                                    <h3 class="contact-office-title">CCTV Headquarter</h3>
                                                    <p>Melbourne Main Street VIC 26-BB 3000, Australia</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-4">
                                            <div class="contact-content-item contact-item-2">
                                                <h2 class="contact-content-title">You Need <br> Job</h2>
                                                <a href="contact.html" class="theme-btn contact-btn">Contact Us</a>
                                            </div>
                                        </div>
                                        <div class="col-xl-4">
                                            <div class="contact-content-item contact-item-3">
                                                <h3 class="contact-address-title">Primary Contact information</h3>
                                                <div class="contact-content-address">
                                                    <ul>
                                                        <li>
                                                            <i class="fal fa-phone"></i>
                                                            <a href="tel:80913450924">809 134 509 24</a>
                                                        </li>
                                                        <li>
                                                            <i class="fal fa-envelope"></i>
                                                            <a href="mailto:example@email.com">example@email.com</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="contact-content-social">
                                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                                    <a href="#"><i class="fab fa-behance"></i></a>
                                                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="contact-form wow fadeInUp" data-wow-delay="0.5s">
                                    <form action="#">
                                        <div class="row">
                                            <div class="col-xl-6 col-lg-6 col-md-6">
                                                <input type="text" placeholder="Your Name">
                                            </div>
                                            <div class="col-xl-6 col-lg-6 col-md-6">
                                                <input type="email" placeholder="Email Address">
                                            </div>
                                            <div class="col-xl-6 col-lg-6 col-md-6">
                                                <input type="text" placeholder="Phone Number">
                                            </div>
                                            <div class="col-xl-6 col-lg-6 col-md-6">
                                                <input type="text" placeholder="Company Name">
                                            </div>
                                            <div class="col-12">
                                                <textarea name="message" cols="30" rows="10" placeholder="Write Text Here..."></textarea>
                                            </div>
                                            <div class="col-12">
                                                <button class="theme-btn contact-form-btn mb-5">Submit Request</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                          
                        </div>
                    </div>
                </div>
            </section>
            <!-- contact area end -->
        </main>

{% endblock content %}