{% extends 'base.html'  %}
{% load static %}
{% block title %}Home - AC Computers{% endblock title %}
{% block content %}
        <main>
            <!-- banner area start -->
            <section>
                <div class="banner-area">
                    <div class="banner-wrap">
                        <div class="banner-banner-control">
                            <div class="swiper-container banner-thumbs">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="banner-main">
                                            <div class="banner-control-item">
                                                <div class="banner-content">
                                                    <span class="banner-subtitle wow fadeInUp" data-wow-delay="0.1s">Welcome To Tecxtronics</span>
                                                    <h2 class="banner-title wow fadeInUp" data-wow-delay="0.3s">We bring your devices back to life.</h2>
                                                    <div class="banner-button mt-35 wow fadeInUp" data-wow-delay="0.5s">
                                                        <a class="about_content-link banner-btn" href="about.html">
                                                            <span>Read More</span><i class="fal fa-long-arrow-right"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="banner-main">
                                            <div class="banner-control-item">
                                                <div class="banner-content">
                                                    <span class="banner-subtitle wow fadeInUp" data-wow-delay="0.1s">Welcome To Tecxtronics</span>
                                                    <h2 class="banner-title wow fadeInUp" data-wow-delay="0.3s">Your digital life, back on track.</h2>
                                                    <div class="banner-button mt-35 wow fadeInUp" data-wow-delay="0.5s">
                                                        <a class="about_content-link banner-btn" href="about.html">
                                                            <span>Read More</span><i class="fal fa-long-arrow-right"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                     <div class="swiper-slide">
                                        <div class="banner-main">
                                            <div class="banner-control-item">
                                                <div class="banner-content">
                                                    <span class="banner-subtitle wow fadeInUp" data-wow-delay="0.1s">Welcome To Tecxtronics</span>
                                                    <h2 class="banner-title wow fadeInUp" data-wow-delay="0.3s">Smart solutions for every device.</h2>
                                                    <div class="banner-button mt-35 wow fadeInUp" data-wow-delay="0.5s">
                                                        <a class="about_content-link banner-btn" href="about.html">
                                                            <span>Read More</span><i class="fal fa-long-arrow-right"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                               
                            </div>
                        </div>
                        <div class="banner-img-wrap">
                            <div class="swiper-container banner-active">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="single-banner wow fadeInUp" data-wow-delay="0.3s">
                                            <div class="banner-image bg-default" data-background="{% static 'img/banner/1.jpg' %}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="single-banner wow fadeInUp" data-wow-delay="0.3s">
                                            <div class="banner-image bg-default" data-background="{% static 'img/banner/2.jpg' %}">
                                            </div>
                                       </div>
                                    </div>
                                     <div class="swiper-slide">
                                        <div class="single-banner wow fadeInUp" data-wow-delay="0.3s">
                                            <div class="banner-image bg-default" data-background="{% static 'img/banner/4.jpg' %}">
                                            </div>
                                       </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="banner-navigation">
                            <div class="banner-swiper-prev"><i class="fal fa-angle-left"></i>
                            </div>
                            <div class="banner-swiper-next"><i class="fal fa-angle-right"></i>
                            </div>
                        </div>
                    </div>
                  
                </div>
            </section>
            <!-- banner area end -->

            <!-- about area start -->
            <section>
                <div class="about-area pt-120 pb-80" style="background-color: #d9e9e9;">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="section-area mb-45">
                                    <span class="section-subtitle mb-2 wow fadeInUp" data-wow-delay="0.1s">About Our Company</span>
                                    <h2 class="section-title mb-15 wow fadeInUp" data-wow-delay="0.3s"> Your trusted partner for <br>quality and support.  </h2>
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-center g-0">
                            <div class="col-xl-6 col-lg-6">
                                <div class="about-img w_img mb-40 wow fadeInUp" data-wow-delay="0.3s">
                                    <img src="{% static 'img/about/1.jpg' %}" alt="About Img">
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6">
                                <div class="about-wrap mb-30">
                                    <div class="about_posts">
                                        <div class="about_posts-item mb-30">
                                            <div class="about-media w_img wow fadeInLeft" data-wow-delay="0.5s">
                                                <a href="{% url 'about' %}"><img src="{% static 'img/about/post_1.jpg' %}" alt="Image Not Found"></a>
                                            </div>
                                            <div class="about-content wow fadeInRight" data-wow-delay="0.5s">
                                                <h4 class="about_content-title"><a href="{% url 'about' %}">
                                                   Quality Electronics, Trusted Solutions 
                                                </a></h4>
                                                <p class="about_content-text">
                                                   Our focus is on delivering durable electronics supported by professional and trusted service.
                                                </p>
                                                <a class="about_content-link" href="{% url 'about' %}">
                                                    <span>Read More</span>
                                                    <i class="fal fa-long-arrow-right"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="about_posts-item">
                                            <div class="about-media w_img wow fadeInLeft" data-wow-delay="0.7s">
                                                <a href="{% url 'about' %}"><img src="{% static 'img/about/post_2.jpg' %}" alt="Image Not Found"></a>
                                            </div>
                                            <div class="about-content wow fadeInRight" data-wow-delay="0.7s">
                                                <h4 class="about_content-title"><a href="{% url 'about' %}">
                                                   Expert Care for Every Device
                                                </a></h4>
                                                <p class="about_content-text">
                                                    We provide professional repair and maintenance services to ensure every device performs reliably.
                                                </p>
                                                <a class="about_content-link" href="{% url 'about' %}">
                                                    <span>Read More</span>
                                                    <i class="fal fa-long-arrow-right"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- about area end -->


            <!-- team-testimonial-area -->
            <div class="team-testimonial-area bg-light pt-110 pb-65">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="section-area text-center mb-45">
                                <span class="section-subtitle mb-2 wow fadeInUp" data-wow-delay="0.1s">Our Products </span> 
                                <h5 class="section-title mb-15 wow fadeInUp" data-wow-delay="0.3s" >Seamless Experience</h5>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="team-content-wrapper mb-40">
                                <div class="swiper-container team-active-2 pb-80">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div class="team-item wow fadeInUp" data-wow-delay="0.1s">
                                                <div class="team-img w_img">
                                                    <a href="{% url 'products' %}"><img src="{% static 'img/product/cctv2.jpg'%}" alt="Image Not Found"></a>
                                                </div>
                                                <div class="team-content">
                                                    <span class="gear-icon"></span>
                                                    <h5 class="team-content-title"><a href="{% url 'products' %}">CCTV Cameras</a></h5>
                                                    <span class="team-content-subtitle">Surveillance</span>
                                                    <div class="middle-content">
                                                        <ul class="list">
                                                            <li><i class="fa-solid fa-angles-right"></i>High-resolution surveillance</li>
                                                            <li><i class="fa-solid fa-angles-right"></i>24/7 security monitoring</li>
                                                        </ul>
                                                    </div>
                                                    <div class="btn-box">
                                                        <a class="read-more theme-btn" href="{% url 'products' %}">View Products <i class="fal fa-angle-right"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="team-item  wow fadeInUp" data-wow-delay="0.3s">
                                                <div class="team-img w_img">
                                                    <a href="{% url 'products' %}"><img src="{% static 'img/product/desktop1.jpg'%}" alt="Image Not Found"></a>
                                                </div>
                                                <div class="team-content">
                                                    <span class="gear-icon"></span>
                                                    <h5 class="team-content-title"><a href="{% url 'products' %}">Desktop</a></h5>
                                                    <span class="team-content-subtitle">Performance</span>
                                                    <div class="middle-content">
                                                        <ul class="list" >
                                                            <li><i class="fa-solid fa-angles-right"></i>Fast and reliable performance</li>
                                                            <li><i class="fa-solid fa-angles-right"></i>Smooth multitasking</li>
                                                        </ul>
                                                    </div>
                                                    <div class="btn-box">
                                                        <a class="read-more theme-btn" href="{% url 'products' %}">View Products <i class="fal fa-angle-right"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="team-item wow fadeInUp" data-wow-delay="0.5s">
                                                <div class="team-img w_img">
                                                    <a href="{% url 'products' %}"><img src="{% static 'img/product/laptop.jpg'%}" alt="Image Not Found"></a>
                                                </div>
                                                <div class="team-content">
                                                    <span class="gear-icon"></span>
                                                    <h5 class="team-content-title"><a href="{% url 'products' %}">Laptop</a></h5>
                                                    <span class="team-content-subtitle">Mobility</span>
                                                    <div class="middle-content">
                                                        <ul class="list">
                                                            <li><i class="fa-solid fa-angles-right"></i> Portable & high-performance</li>
                                                            <li><i class="fa-solid fa-angles-right"></i>Long-lasting battery</li>
                                                        </ul>
                                                    </div>
                                                    <div class="btn-box">
                                                        <a class="read-more theme-btn" href="{% url 'products' %}">View Products <i class="fal fa-angle-right"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="team-item wow fadeInUp" data-wow-delay="0.7s">
                                                <div class="team-img w_img">
                                                    <a href="{% url 'products' %}"><img src="{% static 'img/product/homeapp.jpg'%}" alt="Image Not Found"></a>
                                                </div>
                                                <div class="team-content">
                                                    <span class="gear-icon"></span>
                                                    <h5 class="team-content-title"><a href="{% url 'products' %}">Home Appliances</a></h5>
                                                    <span class="team-content-subtitle">Comfort</span>
                                                    <div class="middle-content">
                                                        <ul class="list">
                                                            <li><i class="fa-solid fa-angles-right"></i> Modern & energy-efficient</li>
                                                            <li><i class="fa-solid fa-angles-right"></i> Durable & reliable</li>
                                                        </ul>
                                                    </div>
                                                    <div class="btn-box">
                                                        <a class="read-more theme-btn" href="{% url 'products' %}">View Products <i class="fal fa-angle-right"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="team-item wow fadeInUp" data-wow-delay="0.7s">
                                                <div class="team-img w_img">
                                                    <a href="{% url 'products' %}"><img src="{% static 'img/product/solar.jpg'%}" alt="Image Not Found"></a>
                                                </div>
                                                <div class="team-content">
                                                    <span class="gear-icon"></span>
                                                    <h5 class="team-content-title"><a href="{% url 'products' %}">Solar Products</a></h5>
                                                    <span class="team-content-subtitle">Sustainability</span>
                                                    <div class="middle-content">
                                                        <ul class="list">
                                                            <li><i class="fa-solid fa-angles-right"></i>High-efficiency panels</li>
                                                            <li><i class="fa-solid fa-angles-right"></i>Cost-effective solutions</li>
                                                        </ul>
                                                    </div>
                                                    <div class="btn-box">
                                                        <a class="read-more theme-btn" href="{% url 'products' %}">View Products <i class="fal fa-angle-right"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="team-item wow fadeInUp" data-wow-delay="0.7s">
                                                <div class="team-img w_img">
                                                    <a href="{% url 'products' %}"><img src="{% static 'img/product/automation.jpg'%}" alt="Image Not Found"></a>
                                                </div>
                                                <div class="team-content">
                                                    <span class="gear-icon"></span>
                                                    <h5 class="team-content-title"><a href="{% url 'products' %}">Automation Products</a></h5>
                                                    <span class="team-content-subtitle">Efficiency</span>
                                                    <div class="middle-content">
                                            
                                                        <ul class="list">
                                                            <li><i class="fa-solid fa-angles-right"></i> Smart control systems</li>
                                                            <li><i class="fa-solid fa-angles-right"></i>Mobile app integration</li>
                                                        </ul>
                                                    </div>
                                                    <div class="btn-box">
                                                        <a class="read-more theme-btn" href="{% url 'products' %}">View Products <i class="fal fa-angle-right"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- team-testimonial-area-end -->

            {% comment %} <!-- shop area start -->
            <section>
                <div class="shop-area pt-115 pb-80">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="section-area text-center mb-45">
                                    <span class="section-subtitle mb-2 wow fadeInUp" data-wow-delay="0.1s">Our Services </span>
                                    <h2 class="section-title mb-15 wow fadeInUp" data-wow-delay="0.3s">Smart & Secure Systems</h2>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-4 col-lg-4 col-md-6">
                                <div class="shop-item mb-40 wow" data-wow-delay="0.3s" data-aos="fade-down" data-aos-delay="200">
                                    <div class="shop-img w_img">
                                        <a href="shop-details.html"><img src="{% static 'img/shop/1.png'%}" alt="Image Not Found"></a>
                                      <div class="shop-cart-action">
                                            <div class="shop-cart-icon"><a href="cart.html"><i class="fal fa-shopping-cart"></i> Add To Cart</a></div>
                                        </div>
                                    </div>
                                    <div class="shop-content">
                                        <div class="shop-content-rating">
                                           
                                            <h5>CCTV Services</h5>
                                        </div>
                                       <p style="text-align: justify;">Explore our wide range of technology and energy solutions — from CCTV surveillance to smart automation. Experience performance, comfort, and sustainability with our desktops, laptops, home appliances, and solar systems.</p>
                                      
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-6">
                                <div class="shop-item mb-40 wow " data-wow-delay="0.5s" data-aos="fade-down" data-aos-delay="300">
                                    <div class="shop-img w_img">
                                        <a href="shop-details.html"><img src="{% static 'img/shop/2.png'%}" alt="Image Not Found"></a>
                                        <div class="shop-cart-action">
                                            <div class="shop-cart-icon"><a href="cart.html"><i class="fal fa-shopping-cart"></i> Add To Cart</a></div>
                                        </div>
                                    </div>
                                    <div class="shop-content">
                                        <div class="shop-content-rating">
                                            <a href="#"><i class="fas fa-star"></i></a>
                                            <a href="#"><i class="fas fa-star"></i></a>
                                            <a href="#"><i class="fas fa-star"></i></a>
                                            <a href="#"><i class="fas fa-star"></i></a>
                                            <a href="#"><i class="fas fa-star"></i></a>
                                        </div>
                                        <h3 class="shop-content-title">
                                            <a href="shop-details.html">External Web Camera</a></h3>
                                        <div class="shop-content-price">
                                            <a href="#">$299.00</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-6">
                                <div class="shop-item mb-40 wow" data-wow-delay="0.7s" data-aos="fade-down" data-aos-delay="400">
                                    <div class="shop-img w_img">
                                        <a href="shop-details.html"><img src="{% static 'img/shop/3.png'%}" alt="Image Not Found"></a>
                                        <div class="shop-cart-action">
                                            <div class="shop-cart-icon"><a href="cart.html"><i class="fal fa-shopping-cart"></i> Add To Cart</a></div>
                                        </div>
                                    </div>
                                    <div class="shop-content">
                                        <div class="shop-content-rating">
                                            <a href="#"><i class="fas fa-star"></i></a>
                                            <a href="#"><i class="fas fa-star"></i></a>
                                            <a href="#"><i class="fas fa-star"></i></a>
                                            <a href="#"><i class="fas fa-star"></i></a>
                                            <a href="#"><i class="fas fa-star"></i></a>
                                        </div>
                                        <h3 class="shop-content-title">
                                            <a href="shop-details.html">CC Tv Bullet Camera</a></h3>
                                        <div class="shop-content-price">
                                            <a href="#">$299.00</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- shop area end --> {% endcomment %}

             <!-- blog area start -->
            <section>
                <div class="blog-area pt-110 pb-80">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="section-area text-center mb-45">
                                    <span class="section-subtitle mb-2 wow fadeInUp" data-wow-delay="0.1s">Our Services </span>
                                    <h2 class="section-title mb-15 wow fadeInUp" data-wow-delay="0.3s">Smart & Secure Systems</h2>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-4 col-lg-6 col-md-6">
                                <div class="blog-post mb-40 wow" data-wow-delay="0.3s" data-aos="fade-down" data-aos-delay="100">
                                    
                                    <div class="blog-post-img w_img">
                                        <a href="blog-details.html"><img src="{% static 'img/blog/1.jpg'%}" alt="Not Found"></a>
                                        <div class="blog-post-category">
                                            <span>Services</span>
                                        </div>
                                    </div>
                                    <div class="blog-post-content">
                                        <div class="blog-post-meta">
                                            <h4 style="color: #006464;">CCTV Services</h4>
                                            {% comment %} <ul>
                                                <li class="post-date">10 Aug 2022</li>
                                                <li class="post-author"> By <a href="blog-detials.html">demongo</a> </li>
                                            </ul> {% endcomment %}
                                        </div>
                                        <p style="text-align: justify;">
                                         Secure your home or business with advanced CCTV solutions, including installation, monitoring, and maintenance for complete protection
                                        </p>
                                        <div class="blog-post-info1">
                                        <div class="blog-post-btn">
                                            <a href="{% url 'services' %}">
                                                <span>Read More</span>
                                                <i class="fal fa-long-arrow-right"></i>
                                            </a>
                                        </div>
                                    </div>
                                    </div>
                                   
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-6 col-md-6">
                                <div class="blog-post mb-40 wow " data-wow-delay="0.5s" data-aos="fade-down" data-aos-delay="200">
                                   
                                    <div class="blog-post-img w_img">
                                        <a href="blog-details.html"><img src="{% static 'img/blog/2.jpg'%}" alt="Not Found"></a>
                                        <div class="blog-post-category">
                                            <span>Services</span>
                                        </div>
                                    </div>
                                    <div class="blog-post-content">
                                         <div class="blog-post-meta">
                                            <h4 style="color: #006464;">Computer Services</h4>
                                            {% comment %} <ul>
                                                <li class="post-date">10 Aug 2022</li>
                                                <li class="post-author"> By <a href="blog-detials.html">demongo</a> </li>
                                            </ul> {% endcomment %}
                                        </div>
                                        <p style="text-align: justify;">
                                         Keep your desktops and laptops running smoothly with expert repairs, upgrades, and maintenance for reliable performance every day.
                                        </p>
                                        <div class="blog-post-info1">
                                        <div class="blog-post-btn">
                                            <a href="{% url 'services' %}">
                                                <span>Read More</span>
                                                <i class="fal fa-long-arrow-right"></i>
                                            </a>
                                        </div>
                                    </div>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-6 col-md-6">
                                <div class="blog-post mb-40 wow " data-wow-delay="0.7s" data-aos="fade-down" data-aos-delay="300">
                                   
                                    <div class="blog-post-img w_img">
                                        <a href="blog-details.html"><img src="{% static 'img/blog/3.jpg'%}" alt="Not Found"></a>
                                        <div class="blog-post-category">
                                            <span>Services</span>
                                        </div>
                                    </div>
                                    <div class="blog-post-content">
                                         <div class="blog-post-meta">
                                             <h4 style="color: #006464;">Power Solutions</h4>
                                        </div>
                                        <p style="text-align: justify;">
                                         Ensure uninterrupted power with our UPS and battery solutions, including installation, maintenance, and timely replacements for efficiency.
                                        </p>
                                        <div class="blog-post-info1">
                                        <div class="blog-post-btn">
                                            <a href="{% url 'services' %}" >
                                                <span>Read More</span>
                                                <i class="fal fa-long-arrow-right"></i>
                                            </a>
                                        </div>
                                    </div>
                                    </div>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- blog area end -->

            <!-- contact area start -->
            <section>
                <div class="contact-area pt-110 pb-120">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="section-area text-center mb-35">
                                    <!-- <span class="section-subtitle mb-2 wow fadeInUp" data-wow-delay="0.1s">Interested In</span> -->
                                    <h2 class="section-title mb-15 wow fadeInUp" data-wow-delay="0.3s" style="color: #ea6b08;">GET IN TOUCH</h2>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                             <div class="col-12  col-lg-6">
                               <img class="w-100" src="{% static 'img/service/1.jpg'%}" alt="Image Not Found">   
                           </div>
                            <div class="col-12 col-lg-6">
                                
                                <div class="contact-content mb-50 d-none">
                                    <div class="row">
                                        <div class="col-xl-4">
                                            <div class="contact-content-item contact-item-1">
                                                <div class="contact-content-logo w_img">
                                                    <a href="index.html"><img src="{% static 'img/logo/logo.png'%}" alt="Image Not Found"></a>
                                                </div>
                                                <div class="contact-content-office">
                                                    <h3 class="contact-office-title">CCTV Headquarter</h3>
                                                    <p>Melbourne Main Street VIC 26-BB 3000, Australia</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-4">
                                            <div class="contact-content-item contact-item-2">
                                                <h2 class="contact-content-title">You Need <br> Job</h2>
                                                <a href="contact.html" class="theme-btn contact-btn">Contact Us</a>
                                            </div>
                                        </div>
                                        <div class="col-xl-4">
                                            <div class="contact-content-item contact-item-3">
                                                <h3 class="contact-address-title">Primary Contact information</h3>
                                                <div class="contact-content-address">
                                                    <ul>
                                                        <li>
                                                            <i class="fal fa-phone"></i>
                                                            <a href="tel:80913450924">809 134 509 24</a>
                                                        </li>
                                                        <li>
                                                            <i class="fal fa-envelope"></i>
                                                            <a href="mailto:example@email.com">example@email.com</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="contact-content-social">
                                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                                    <a href="#"><i class="fab fa-behance"></i></a>
                                                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="contact-form wow fadeInUp" data-wow-delay="0.5s">
                                    <form action="#">
                                        <div class="row">
                                            <div class="col-xl-6 col-lg-6 col-md-6">
                                                <input type="text" placeholder="Your Name">
                                            </div>
                                            <div class="col-xl-6 col-lg-6 col-md-6">
                                                <input type="email" placeholder="Email Address">
                                            </div>
                                            <div class="col-xl-6 col-lg-6 col-md-6">
                                                <input type="text" placeholder="Phone Number">
                                            </div>
                                            <div class="col-xl-6 col-lg-6 col-md-6">
                                                <input type="text" placeholder="Company Name">
                                            </div>
                                            <div class="col-12">
                                                <textarea name="message" cols="30" rows="10" placeholder="Write Text Here..."></textarea>
                                            </div>
                                            <div class="col-12">
                                                <button class="theme-btn contact-form-btn mb-5">Submit Request</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                          
                        </div>
                    </div>
                </div>
            </section>
            <!-- contact area end -->
            

        </main>

{% endblock content %}