{% extends 'base.html'  %}
{% load static %}
{% block title %}Services - AC Computers{% endblock title %}
{% block content %}
    <main>
            <!-- breadcrumb area start -->
            <section class="bn-slider breadcrumb-height bn-breadcrumb align-items-center d-flex" data-background="{% static 'img/bg/breadcrumb.jpg'%}">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="bn-breadcrumb-wrap text-center">
                                <h2 class="bn-breadcrumb-title wow fadeInUp" data-wow-delay="0.1s">Service</h2>
                                <div class="bn-breadcrumb-list wow fadeInUp" data-wow-delay="0.3s">
                                    <a href="index.html">Home</a>
                                    <span>Service</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- breadcrumb area end -->

            <!-- service area start -->
            <section>
                <div class="service-area pt-120 pb-120 service-page">
                    <div class="container">
                        <div class="row g-0">
                            <div class="col-xl-4 col-lg-6 col-md-6">
                                <div class="service-section wow fadeInUp" data-wow-delay="0.3s">
                                    <div class="section-area">
                                        <span class="section-subtitle mb-10">What We Do</span>
                                        <h2 class="section-title f-46 mb-0">What Can We Offer Security</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-6 col-md-6 service-border">
                                <div class="service-item wow fadeInUp" data-wow-delay="0.4s">
                                    <div class="service-img bg-default" data-background="{% static 'img/service/1.jpg'%}"></div>
                                    <div class="service-icon">
                                        <i class="fal fa-cogs"></i>
                                    </div>
                                    <div class="service-content">
                                        <h3 class="service-content-title"><a href="service-details.html">CCTV Services</a></h3>
                                        <p>Professional installation and maintenance of security cameras. 
                                                            Keep your property safe with 24/7 monitoring solutions.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-6 col-md-6 service-border">
                                <div class="service-item wow fadeInUp" data-wow-delay="0.5s">
                                    <div class="service-img bg-default" data-background="{% static 'img/service/2.jpg'%}"></div>
                                    <div class="service-icon">
                                        <i class="fal fa-chart-network"></i>
                                    </div>
                                    <div class="service-content">
                                        <h3 class="service-content-title"><a href="service-details.html">Laptop Services</a></h3>
                                        <p>Comprehensive repair for hardware and software issues. We fix screens, 
                                                            keyboards, and performance problems quickly.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-6 col-md-6 service-border">
                                <div class="service-item wow fadeInUp" data-wow-delay="0.6s">
                                    <div class="service-img bg-default" data-background="{% static 'img/service/3.jpg'%}"></div>
                                    <div class="service-icon">
                                        <i class="fal fa-fingerprint"></i>
                                    </div>
                                    <div class="service-content">
                                        <h3 class="service-content-title"><a href="service-details.html">Desktop Services</a></h3>
                                        <p>Expert desktop repair, upgrades, and troubleshooting for faster, reliable home or office setups.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-6 col-md-6 service-border">
                                <div class="service-item wow fadeInUp" data-wow-delay="0.7s">
                                    <div class="service-img bg-default" data-background="{% static 'img/service/4.jpg'%}"></div>
                                    <div class="service-icon">
                                        <i class="fal fa-camera-alt"></i>
                                    </div>
                                    <div class="service-content">
                                        <h3 class="service-content-title"><a href="service-details.html">DVR/NVR Services</a></h3>
                                        <p>Setup and configuration of your digital video recorder systems. 
                                                            Ensure seamless recording and playback for your CCTV footage.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-6 col-md-6 service-border">
                                <div class="service-item wow fadeInUp" data-wow-delay="0.8s">
                                    <div class="service-img bg-default" data-background="{% static 'img/service/5.jpg'%}"></div>
                                    <div class="service-icon">
                                        <i class="fal fa-cctv"></i>
                                    </div>
                                    <div class="service-content">
                                        <h3 class="service-content-title"><a href="service-details.html">UPS & BATTERY SERVICES</a></h3>
                                        <p>Installation and maintenance of Uninterruptible Power Supplies. 
                                                            Protect your equipment from power surges and outages.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-6 col-md-6 service-border">
                                <div class="service-item wow fadeInUp" data-wow-delay="0.9s">
                                    <div class="service-img bg-default" data-background="{% static 'img/service/5.jpg'%}"></div>
                                    <div class="service-icon">
                                        <i class="fal fa-webcam"></i>
                                    </div>
                                    <div class="service-content">
                                        <h3 class="service-content-title"><a href="service-details.html">Camera Configuration & Setup</a></h3>
                                        <p>Professional installation and configuration of CCTV cameras, ensuring optimal angles, network setup, and reliable monitoring.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-6 col-md-6 service-border">
                                <div class="service-item wow fadeInUp" data-wow-delay="1s">
                                    <div class="service-img bg-default" data-background="{% static 'img/service/5.jpg'%}"></div>
                                    <div class="service-icon">
                                        <i class="fal fa-shield-alt"></i>
                                    </div>
                                    <div class="service-content">
                                        <h3 class="service-content-title"><a href="service-details.html">Electronic Security</a></h3>
                                        <p>Direct enough off others say eldest may exeter she pain oni. Possible all ignorant supplied get settling marriage</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-6 col-md-6 service-border">
                                <div class="service-item wow fadeInUp" data-wow-delay="1.1s">
                                    <div class="service-img bg-default" data-background="{% static 'img/service/5.jpg'%}"></div>
                                    <div class="service-icon">
                                        <i class="fal fa-camera-movie"></i>
                                    </div>
                                    <div class="service-content">
                                        <h3 class="service-content-title"><a href="service-details.html">Automatic Cameras</a></h3>
                                        <p>Direct enough off others say eldest may exeter she pain oni. Possible all ignorant supplied get settling marriage</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- service area end -->

    </main>
{% endblock content %}