{% extends 'base.html'  %}
{% load static %}
{% block title %}Services - AC Computers{% endblock title %}
{% block content %}
    <main>
            <!-- breadcrumb area start -->
            <section class="bn-slider breadcrumb-height bn-breadcrumb align-items-center d-flex" data-background="{% static 'img/bg/breadcrumb.jpg'%}">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="bn-breadcrumb-wrap text-center">
                                <h2 class="bn-breadcrumb-title wow fadeInUp" data-wow-delay="0.1s">Service</h2>
                                <div class="bn-breadcrumb-list wow fadeInUp" data-wow-delay="0.3s">
                                    <a href="index.html">Home</a>
                                    <span>Service</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- breadcrumb area end -->

             <!-- blog area start -->
            <section>
                <div class="blog-area pt-110 pb-80">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="section-area text-center mb-45">
                                    <span class="section-subtitle mb-2 wow fadeInUp" data-wow-delay="0.1s">Our Services </span>
                                    <h2 class="section-title mb-15 wow fadeInUp" data-wow-delay="0.3s">Smart & Secure Systems</h2>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-4 col-lg-6 col-md-6">
                                <div class="blog-post mb-40 wow" data-wow-delay="0.3s" data-aos="fade-down" data-aos-delay="100">
                                    
                                    <div class="blog-post-img w_img">
                                        <a href="blog-details.html"><img src="{% static 'img/blog/1.jpg'%}" alt="Not Found"></a>
                                        <div class="blog-post-category">
                                            <span>Services</span>
                                        </div>
                                    </div>
                                    <div class="blog-post-content">
                                        <div class="blog-post-meta">
                                            <h4 style="color: #006464;">CCTV Services</h4>
                                            {% comment %} <ul>
                                                <li class="post-date">10 Aug 2022</li>
                                                <li class="post-author"> By <a href="blog-detials.html">demongo</a> </li>
                                            </ul> {% endcomment %}
                                        </div>
                                        <p style="text-align: justify;">
                                         Secure your home or business with advanced CCTV solutions, including installation, monitoring, and maintenance for complete protection
                                        </p>
                                        <div class="blog-post-info1">
                                        <div class="blog-post-btn">
                                            <a href="{% url 'services' %}">
                                                <span>Read More</span>
                                                <i class="fal fa-long-arrow-right"></i>
                                            </a>
                                        </div>
                                    </div>
                                    </div>
                                   
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-6 col-md-6">
                                <div class="blog-post mb-40 wow " data-wow-delay="0.5s" data-aos="fade-down" data-aos-delay="200">
                                   
                                    <div class="blog-post-img w_img">
                                        <a href="blog-details.html"><img src="{% static 'img/service/services2.jpg'%}" alt="Not Found"></a>
                                        <div class="blog-post-category">
                                            <span>Services</span>
                                        </div>
                                    </div>
                                    <div class="blog-post-content">
                                         <div class="blog-post-meta">
                                            <h4 style="color: #006464;">Computer Services</h4>
                                            {% comment %} <ul>
                                                <li class="post-date">10 Aug 2022</li>
                                                <li class="post-author"> By <a href="blog-detials.html">demongo</a> </li>
                                            </ul> {% endcomment %}
                                        </div>
                                        <p style="text-align: justify;">
                                         Keep your desktops and laptops running smoothly with expert repairs, upgrades, and maintenance for reliable performance every day.
                                        </p>
                                        <div class="blog-post-info1">
                                        <div class="blog-post-btn">
                                            <a href="{% url 'services' %}">
                                                <span>Read More</span>
                                                <i class="fal fa-long-arrow-right"></i>
                                            </a>
                                        </div>
                                    </div>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-6 col-md-6">
                                <div class="blog-post mb-40 wow " data-wow-delay="0.7s" data-aos="fade-down" data-aos-delay="300">
                                   
                                    <div class="blog-post-img w_img">
                                        <a href="blog-details.html"><img src="{% static 'img/service/services4.jpg'%}" alt="Not Found"></a>
                                        <div class="blog-post-category">
                                            <span>Services</span>
                                        </div>
                                    </div>
                                    <div class="blog-post-content">
                                         <div class="blog-post-meta">
                                             <h4 style="color: #006464;">Power Solutions</h4>
                                        </div>
                                        <p style="text-align: justify;">
                                         Ensure uninterrupted power with our UPS and battery solutions, including installation, maintenance, and timely replacements for efficiency.
                                        </p>
                                        <div class="blog-post-info1">
                                        <div class="blog-post-btn">
                                            <a href="{% url 'services' %}" >
                                                <span>Read More</span>
                                                <i class="fal fa-long-arrow-right"></i>
                                            </a>
                                        </div>
                                    </div>
                                    </div>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- blog area end -->

            <!-- service area start -->
            <section>
                <div class="service-area pt-120 pb-120 service-page">
                    <div class="container">
                        <div class="row g-0">
                            <div class="col-xl-4 col-lg-6 col-md-6">
                                <div class="service-section wow fadeInUp" data-wow-delay="0.3s">
                                    <div class="section-area">
                                        <span class="section-subtitle mb-10">What We Do</span>
                                        <h2 class="section-title f-46 mb-0">What Can We Offer Security</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-6 col-md-6 service-border">
                                <div class="service-item wow fadeInUp" data-wow-delay="0.4s">
                                    <div class="service-img bg-default" data-background="{% static 'img/service/1.jpg'%}"></div>
                                    <div class="service-icon">
                                        <i class="fal fa-cogs"></i>
                                    </div>
                                    <div class="service-content">
                                        <h3 class="service-content-title"><a href="service-details.html">CCTV Services</a></h3>
                                        <p>Professional installation and maintenance of security cameras. 
                                                            Keep your property safe with 24/7 monitoring solutions.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-6 col-md-6 service-border">
                                <div class="service-item wow fadeInUp" data-wow-delay="0.5s">
                                    <div class="service-img bg-default" data-background="{% static 'img/service/2.jpg'%}"></div>
                                    <div class="service-icon">
                                        <i class="fal fa-chart-network"></i>
                                    </div>
                                    <div class="service-content">
                                        <h3 class="service-content-title"><a href="service-details.html">Laptop Services</a></h3>
                                        <p>Comprehensive repair for hardware and software issues. We fix screens, 
                                                            keyboards, and performance problems quickly.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-6 col-md-6 service-border">
                                <div class="service-item wow fadeInUp" data-wow-delay="0.6s">
                                    <div class="service-img bg-default" data-background="{% static 'img/service/3.jpg'%}"></div>
                                    <div class="service-icon">
                                        <i class="fal fa-fingerprint"></i>
                                    </div>
                                    <div class="service-content">
                                        <h3 class="service-content-title"><a href="service-details.html">Desktop Services</a></h3>
                                        <p>Expert desktop repair, upgrades, and troubleshooting for faster, reliable home or office setups.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-6 col-md-6 service-border">
                                <div class="service-item wow fadeInUp" data-wow-delay="0.7s">
                                    <div class="service-img bg-default" data-background="{% static 'img/service/4.jpg'%}"></div>
                                    <div class="service-icon">
                                        <i class="fal fa-camera-alt"></i>
                                    </div>
                                    <div class="service-content">
                                        <h3 class="service-content-title"><a href="service-details.html">DVR/NVR Services</a></h3>
                                        <p>Setup and configuration of your digital video recorder systems. 
                                                            Ensure seamless recording and playback for your CCTV footage.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-6 col-md-6 service-border">
                                <div class="service-item wow fadeInUp" data-wow-delay="0.8s">
                                    <div class="service-img bg-default" data-background="{% static 'img/service/5.jpg'%}"></div>
                                    <div class="service-icon">
                                        <i class="fal fa-cctv"></i>
                                    </div>
                                    <div class="service-content">
                                        <h3 class="service-content-title"><a href="service-details.html">UPS & BATTERY SERVICES</a></h3>
                                        <p>Installation and maintenance of Uninterruptible Power Supplies. 
                                                            Protect your equipment from power surges and outages.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-6 col-md-6 service-border">
                                <div class="service-item wow fadeInUp" data-wow-delay="0.9s">
                                    <div class="service-img bg-default" data-background="{% static 'img/service/5.jpg'%}"></div>
                                    <div class="service-icon">
                                        <i class="fal fa-webcam"></i>
                                    </div>
                                    <div class="service-content">
                                        <h3 class="service-content-title"><a href="service-details.html">Camera Configuration & Setup</a></h3>
                                        <p>Professional installation and configuration of CCTV cameras, ensuring optimal angles, network setup, and reliable monitoring.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-6 col-md-6 service-border">
                                <div class="service-item wow fadeInUp" data-wow-delay="1s">
                                    <div class="service-img bg-default" data-background="{% static 'img/service/5.jpg'%}"></div>
                                    <div class="service-icon">
                                        <i class="fal fa-shield-alt"></i>
                                    </div>
                                    <div class="service-content">
                                        <h3 class="service-content-title"><a href="service-details.html">Electronic Security</a></h3>
                                        <p>Direct enough off others say eldest may exeter she pain oni. Possible all ignorant supplied get settling marriage</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-6 col-md-6 service-border">
                                <div class="service-item wow fadeInUp" data-wow-delay="1.1s">
                                    <div class="service-img bg-default" data-background="{% static 'img/service/5.jpg'%}"></div>
                                    <div class="service-icon">
                                        <i class="fal fa-camera-movie"></i>
                                    </div>
                                    <div class="service-content">
                                        <h3 class="service-content-title"><a href="service-details.html">Automatic Cameras</a></h3>
                                        <p>Direct enough off others say eldest may exeter she pain oni. Possible all ignorant supplied get settling marriage</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- service area end -->

    </main>
{% endblock content %}